<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hdm156661638_dbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=hdm156661638.my3w.com;user id=hdm156661638;password=668611ab;persistsecurityinfo=True;database=hdm156661638_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>